/* .vehicle-form {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .vehicle-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="number"] {
    background-color: #f9f9f9;
  }
  
  input[type="time"] {
    background-color: #fff;
  }
  
  input[type="checkbox"] {
    width: auto;
    margin: 0;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 15rem;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  

@media (max-width: 600px) {
    .vehicle-form-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="time"] {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  } */
